<!DOCTYPE html>
<html>
<head>
    <title>Cyrang Interest</title>
    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="./index.html">Cyrang</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="">
                        <a href="./interest">Interest</a>
                    </li>
                    <li class="">
                        <a href="./best">Best</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="http://cthumb.cyworld.com/today_161x159/http://cyimg40.cyworld.com/common/file_down.asp?redirect=%2F400025%2F2012%2F10%2F30%2F21%2F3%B3%B2%C8%F1-1.jpg">
    </a>
    <div class="media-body">
        <h4 class="media-heading">남희석의 실수</h4>
        In blandit ultrices dictum. Fusce accumsan, leo bibendum ultrices posuere, massa velit sodales odio, in ultricies neque ligula vitae tellus. Sed convallis, eros euismod dictum sagittis, turpis felis lobortis nunc, eget dignissim nulla sem ut est. Donec imperdiet nisi in leo sodales tempus. In hac habitasse platea dictumst. Etiam egestas tristique quam in sollicitudin. Nulla facilisi. Duis urna libero, venenatis in feugiat a, sagittis vel eros.
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="http://cthumb.cyworld.com/today_161x159/http://cyimg40.cyworld.com/common/file_down.asp?redirect=%2F400025%2F2012%2F10%2F30%2F21%2F3%B3%B2%C8%F1-1.jpg">
    </a>
    <div class="media-body">
        <h4 class="media-heading">남희석의 실수</h4>
        blahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblah
    </div>
</div>
</body>
</html>